<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meram Medicine Faculty Community of Medical Artificial Intelligence</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'home/w3.css' %}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% load static %}

  <link rel="icon" href="{% static 'med_aı_logo.png' %}" type="PNG">

  <style>
    a:link {
      text-decoration: none;
    }

  </style>
</head>



<body class="w3-teal">


<!-- #############################################################################
#                                   HEADER                                       #
############################################################################## -->

  <header class="w3-teal">
    <div class="w3-row">
      {% load static %}
      <a href="home.html"><img class="w3-col l3" src="{% static 'med_aı_logo.png' %}" alt="png" style="width: 10%; margin-left: 15px;"></a>
      <h2 class="w3-col l6 w3-text-white w3-margin-left">Necmettin Erbakan University<br>Medicine Faculty<br>Community of Medical Artificial Intelligence</h2>
      <a href="https://www.erbakan.edu.tr/meramtip" target="_blank">
        {% load static %}

        <img class="w3-col l3 w3-margin-top w3-display-topright" src="{% static 'neu_logo.png' %}" alt="png" style="width: 10%;">
      </a>
    </div>
    <div class="w3-center w3-white">
      <div class="w3-bar w3-row w3-white w3-text-teal" style="margin-top: 3px;">
        <a href="whoarewe.html"><h4 class="w3-bar-item w3-hover-teal w3-text-hover-teal w3-round-xxlarge w3-margin-left w3-margin-right" style="margin-top: 2px; margin-bottom: 2px;">Biz Kimiz?</h4></a>
        <a href="events.html"><h4 class="w3-bar-item w3-hover-teal w3-text-hover-teal w3-round-xxlarge w3-margin-left w3-margin-right" style="margin-top: 2px; margin-bottom: 2px;">Etkinlikler</h4></a>
        <a href="workgroup.html"><h4 class="w3-bar-item w3-hover-teal w3-text-hover-teal w3-round-xxlarge w3-margin-left w3-margin-right" style="margin-top: 2px; margin-bottom: 2px;">Çalışma Kollarımız</h4></a>
        <a href="projects.html"><h4 class="w3-bar-item w3-hover-teal w3-text-hover-teal w3-round-xxlarge w3-margin-left w3-margin-right" style="margin-top: 2px; margin-bottom: 2px;">Projelerimiz</h4></a>
        <a href="announcements.html"><h4 class="w3-bar-item w3-hover-teal w3-text-hover-teal w3-round-xxlarge w3-margin-left w3-margin-right" style="margin-top: 2px; margin-bottom: 2px;">Duyurular</h4></a>
        <a href="#"><i class="fa fa-user-md w3-bar-item fa-stack-2x"></i></a>
      </div>
    </div>
  </header>


<!-- #############################################################################
#                                   BODY                                         #
############################################################################## -->

  <!-- SOL PANEL -->
  <div class="w3-row-padding w3-panel w3-round-large w3-margin" style="background-color: #D5EEBB;">
    <div class="w3-col l3 w3-card w3-teal w3-margin-top w3-margin-bottom w3-round-xlarge">
      <h2 class="w3-container w3-text-white w3-round-large w3-margin-top" style="background-color: #464660;">Biz Kimiz?</h2>
      <div class="w3-container w3-white w3-margin-bottom w3-round-large" style="color: #464660;">
        Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation 
        ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
        occaecat cupidatat non proident, sunt in culpa qui officia 
        deserunt mollit anim id est laborum.
      </div>
    </div>

    <!-- RESİMLER -->
    <style>
      .mySlides {display:none;}
    </style>

    <div class="w3-col l6 w3-content w3-display-container w3-margin-top w3-margin-bottom">
      <img class="mySlides w3-border w3-round-xlarge w3-animate-opacity" src="img/resim_1.png" alt="png" style="width: 100%;">
      <img class="mySlides w3-border w3-round-xlarge w3-animate-opacity" src="img/resim_2.png" alt="png" style="width: 100%;">
      <img class="mySlides w3-border w3-round-xlarge w3-animate-opacity" src="img/resim_3.png" alt="png" style="width: 100%;">
      <img class="mySlides w3-border w3-round-xlarge w3-animate-opacity" src="img/resim_4.png" alt="png" style="width: 100%;">
      <img class="mySlides w3-border w3-round-xlarge w3-animate-opacity" src="img/resim_5.png" alt="png" style="width: 100%;">
      <img class="mySlides w3-border w3-round-xlarge w3-animate-opacity" src="img/resim_6.gif" alt="gif" style="width: 100%;">
      <img class="mySlides w3-border w3-round-xlarge w3-animate-opacity" src="img/cs.jpg" alt="jpg" style="width: 100%;">
    
      <button class="w3-margin-left w3-button w3-blue-grey w3-display-left w3-round-xxlarge" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-margin-right w3-button w3-blue-grey w3-display-right w3-round-xxlarge" onclick="plusDivs(1)">&#10095;</button>


      <!-- BUTTON SCRİPT -->
      <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }
      </script>

      <!-- OTO GEÇİŞ SCRİPT -->
      <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex > x.length) {slideIndex = 1}
          x[slideIndex-1].style.display = "block";
          setTimeout(carousel, 5000); // Change image every 5 seconds
        }
      </script>
    </div>

    <!-- SAĞ PANEL -->
    <div class="w3-col l3 w3-card w3-teal w3-margin-top w3-margin-bottom w3-round-xlarge" >
      <h2 class="w3-container w3-text-white w3-round-large w3-margin-top" style="background-color: #464660;">Misyonumuz</h2>
      <div class="w3-container w3-white w3-round-large w3-margin-bottom" style="color: #464660;">
        Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation 
        ullamco laboris nisi ut 
      </div>
      <h2 class="w3-container w3-text-white w3-round-large" style="background-color: #464660;">Vizyonumuz</h2>
      <div class="w3-container w3-white w3-margin-bottom w3-round-large" style="color: #464660;">
        Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam,
      </div>
    </div>
  </div>



  <!-- DUYURULAR -->
  <div class="w3-row w3-margin w3-round-large w3-center" style="background-color: #D5EEBB;">
    <h2 class="w3-container w3-margin w3-center" style="color: #464660;">Duyurular</h2>
    <div class="w3-container w3-row-padding w3-margin-bottom w3-margin-top" style="border: 1px solid black;">
      <div class="w3-col l2 w3-center">
        <a href="#"><div class="w3-card w3-center w3-white w3-round-large">
          <h1 class="w3-text-teal" style="font-size: 64px; padding-top: 36px; line-height: 36px;">13</h1>
          <h3 class="w3-text-teal" style="font-size: 32px;">Eylül</h3>
          <div class="w3-row-padding w3-padding-16">MTF yeni döneme başladı.</div>
        </div></a>
      </div>
      <div class="w3-col l2 w3-center">
        <a href="#"><div class="w3-card w3-center w3-white w3-round-large">
          <h1 class="w3-text-teal" style="font-size: 64px; padding-top: 36px; line-height: 36px;">13</h1>
          <h3 class="w3-text-teal" style="font-size: 32px;">Eylül</h3>
          <div class="w3-row-padding w3-padding-16">MTF yeni döneme başladı.</div>
        </div></a>
      </div>
      <div class="w3-col l2 w3-center">
        <a href="#"><div class="w3-card w3-center w3-white w3-round-large">
          <h1 class="w3-text-teal" style="font-size: 64px; padding-top: 36px; line-height: 36px;">13</h1>
          <h3 class="w3-text-teal" style="font-size: 32px;">Eylül</h3>
          <div class="w3-row-padding w3-padding-16">MTF yeni döneme başladı.</div>
        </div></a>
      </div>
      <div class="w3-col l2 w3-center">
        <a href="#"><div class="w3-card w3-center w3-white w3-round-large">
          <h1 class="w3-text-teal" style="font-size: 64px; padding-top: 36px; line-height: 36px;">13</h1>
          <h3 class="w3-text-teal" style="font-size: 32px;">Eylül</h3>
          <div class="w3-row-padding w3-padding-16">MTF yeni döneme başladı.</div>
        </div></a>
      </div>
      <div class="w3-col l2 w3-center">
        <a href="#"><div class="w3-card w3-center w3-white w3-round-large">
          <h1 class="w3-text-teal" style="font-size: 64px; padding-top: 36px; line-height: 36px;">13</h1>
          <h3 class="w3-text-teal" style="font-size: 32px;">Eylül</h3>
          <div class="w3-row-padding w3-padding-16">MTF yeni döneme başladı.</div>
        </div></a>
      </div>
      <div class="w3-col l2 w3-center">
        <a href="#"><div class="w3-card w3-center w3-white w3-round-large">
          <h1 class="w3-text-teal" style="font-size: 64px; padding-top: 36px; line-height: 36px;">13</h1>
          <h3 class="w3-text-teal" style="font-size: 32px;">Eylül</h3>
          <div class="w3-row-padding w3-padding-16">MTF yeni döneme başladı.</div>
        </div></a>
      </div>
    </div>
  </div>


  <!-- ÇALIŞMA GRUBU KARTLAR -->
  <div class="w3-row w3-margin w3-round-large w3-center" style="background-color: #D5EEBB;">
    <h2 class="w3-container w3-margin w3-center" style="color: #464660;">Çalışma Gruplarımız</h2>
    <div class="w3-container w3-row-padding w3-margin-bottom w3-center" style="border: 1px solid red;">
      <div class="w3-col l4 w3-center">
        <div class="w3-card w3-center ">
          <img src="img/eagle.png" alt="png">
          <div class="w3-container w3-center w3-black">
            metin 1
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-center">
        <div class="w3-card w3-center">
          <img src="img/eagle.png" alt="png">
          <div class="w3-container w3-center w3-black">
            metin 2
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-center">
        <div class="w3-card w3-center ">
          <img src="img/eagle.png" alt="png">
          <div class="w3-container w3-center w3-black">
            metin 3
          </div>
        </div>
      </div>
    </div>
    <div class="w3-container w3-row-padding w3-margin-bottom w3-center" style="border: 1px solid red;">
      <div class="w3-col l4 w3-center">
        <div class="w3-card w3-center ">
          <img src="img/eagle.png" alt="png">
          <div class="w3-container w3-center w3-black">
            metin 4
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-center">
        <div class="w3-card w3-center">
          <img src="img/eagle.png" alt="png">
          <div class="w3-container w3-center w3-black">
            metin 5
          </div>
        </div>
      </div>
      <div class="w3-col l4 w3-center">
        <div class="w3-card w3-center ">
          <img src="img/eagle.png" alt="png">
          <div class="w3-container w3-center w3-black">
            metin 6
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- #############################################################################
#                                   FOOTER                                       #
############################################################################## -->

  <footer class="w3-container w3-row" style="background-color: #464660;">
    <div class="w3-container w3-half w3-row w3-margin-top w3-center" style="border: 1px solid orange;">
      <a class="w3-col l1" href="https://www.instagram.com/mahmutesad16" target="_blank"><span class="fa-stack fa-lg">
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span></a>
      <a class="w3-col l1" href="https://www.twitter.com/esadyrtsvn" target="_blank"><span class="fa-stack fa-lg">
        <i class="fa fa-twitter-square fa-stack-1x fa-inverse"></i>
      </span></a>
      <a class="w3-col l1" href="https://www.github.com/esadty" target="_blank"><span class="fa-stack fa-lg">
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span></a>
      <a class="w3-col l1" href="https://www.youtube.com/" target="_blank"><span class="fa-stack fa-lg">
        <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
      </span></a>
    </div>
    <div class="w3-container w3-center w3-half" style="border: 2px solid red;">
      <div class="w3-container w3-margin-top">Zehra Avan • <a href = "mailto: zehraa@example.com">zehraa@example.com</a></div>
      <div class="w3-container w3-margin-bottom">Nazire Nur Onat • <a href = "mailto: nazire@example.com">nazire@example.com</a></div>
    </div>
  </footer>
  <div class="w3-container w3-center w3-padding">
    © Copyright 2021 Med AI Developer Team
  </div>
  
</body>
</html>
