.ai-bg-color {
    background-color: black;
}

.ai-about-us-div {
    font-family: 'Lucida Console';
    border: 3px solid rgb(24, 24, 24);
}

.ai-about-us-head {
    color:rgb(8, 255, 8); 
    font-family: 'Lucida Console';
}

.ai-teams-card {
    font-family: 'Lucida Console';
    border: 3px solid rgb(24, 24, 24);
}
